<div class="left-div">
  <div class="container-date-title">
    <h1>{{task.title| titlecase}}</h1>
    <h2>{{task.createdAt| date: "EEEE, MMMM d, y, h:mm: a"}}</h2>
  </div>
  <p>{{(task.description.length>100)? (task.description | slice:0:100)+'...':(task.description)}}</p>
</div>
<div class="right-div">
  <button class="action-button" [ngClass]="{'complete-button': task.completed, 'un-complete-button' : !task.completed}" (click)="updateTask('completed')">
    <mat-icon matSuffix>check_circle</mat-icon>
  </button>
  <button class="action-button" [ngClass]="{'pending-button': task.pending, 'un-pending-button' : !task.pending}" (click)="updateTask('pending')">
    <mat-icon matSuffix>pending_actions</mat-icon>
  </button>
  <button class="delete-button action-button" (click)="deleteTask(task.id!)">
    <mat-icon matSuffix>delete</mat-icon>
  </button>
</div>
