<div class="custom-text">
  <h1>Hello!!</h1>
  <p>
    I'm Ariel Del Grande, a Full-Stack Developer with six years of experience in Angular, React, and Express.js with TypeScript. I specialize in scalable architecture using Domain-Driven Design (DDD) and secure authentication systems.
  </p>
  <br>
  <p>
    I also have experience working with various databases, including MongoDB, PostgreSQL, and Firebase, along with cloud functions for serverless computing.
  </p>

  <p>
    Links to my repositories:
  </p>

  <strong>
    Backend Repository: <a href="https://github.com/arieldelg/atomBackend">click here</a>
  </strong>
  <strong>
    Frontend Repository: <a href="https://github.com/arieldelg/atomFrontEnd">click here</a>
  </strong>

  <p>
    These repositories contain the source code and implementation details for the respective parts of the application.
  </p>
</div>
